body{
	
}

.text-align-left{text-align: left;}
.text-align-center{text-align: center;}

.shadow{
	background: transparent url(/images/shadow.png) no-repeat 50% 100%;
	background-size: 100% 6px;
	padding-bottom: 10px;
}

footer {
	margin-top: 100px;
}


/* Gallery Indicators - TODO: Improve the markup */

.gallery-indicators{
  margin-top:10px;
  height:30px;
  position: relative;
}
  .absolute-center-box{
    position: absolute;
    left:50%;
    top:0px;
  }
    .absolute-center-box .inner{
      position:relative;
      left:-50%;
    }
    .absolute-center-box .item{
      width:10px;
      height: 10px;
      float: left;
      margin:10px 5px;
    }
      .absolute-center-box .item span{
        display: block;
        cursor: pointer;
        width:10px;
        height: 10px;
        background-color: #AAA;
        border-radius: 5px;background-image: linear-gradient(bottom, rgb(176,176,176) 0%, rgb(230,230,230) 100%);
      }
      .absolute-center-box .item.active span{
        background-color: red;
        cursor: default;
      }